<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cadastro Concluído - Hêmpora</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <div class="logo">
      <h1>Hêmpora</h1>
      <p class="subtitulo">Rede de Suporte e Aprendizagem sobre o Uso Medicinal do Cânhamo</p>
    </div>
    <nav>
      <ul class="menu">
        <li><a href='/cadastro'>Cadastro de Usuário</a></li>
        <li><a href='/chat'>Chat</a></li>
        <li><a href='/feedback'>Feedback</a></li>
        <li><a href='/'>Início</a></li>
        <li><a href='/material_didatico'>Material Didático</a></li>
        <li><a href='/processo_legal'>Processo Legal</a></li>
        <li><a href='/sobre_o_projeto'>Sobre o Projeto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <p class="mensagem">✅ Cadastro concluído com sucesso!</p>
    <h4>Obrigado por se cadastrar! Agora você faz parte da comunidade Hêmpora.</h4>
    <h4>Vamos construir um futuro mais sustentavél!.</h4>
    <a href="/" class="botao">Voltar ao Início</a>
  </main>

  <footer>
    <p>© 2025 Hempora — Projeto Educacional Do Curso Técnico Desenvolvimento de Sistemas</p>
  </footer>
</body>
</html>
