<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hêmpora - Página Inicial</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <div class="logo">
      <h1>Hêmpora</h1>
      <p class="subtitulo">Rede de Suporte e Aprendizagem sobre o Uso Medicinal do Cânhamo</p>
    </div>

    <nav>
      <ul class="menu">
        <li><a href='/cadastro'>Cadastro de Usuário</a></li>
        <li><a href='/chat'>Chat</a></li>
        <li><a href='/feedback'>Feedback</a></li>
        <li><a href='/' class="ativo">Início</a></li>
        <li><a href='/material_didatico'>Material Didático</a></li>
        <li><a href='/processo_legal'>Processo Legal</a></li>
        <li><a href='/sobre_o_projeto'>Sobre o Projeto</a></li>
      </ul>
    </nav>
    
  </header>

  <main>
    <section>
      <h2>Bem-vindo ao Hêmpora</h2>
      <p>O site Hêmpora foi desenvolvido com a finalidade de criar uma rede de suporte e aprendizagem para os usuarios, tratando de informar cientificamente os beneficios do uso desses medicamentos naturais. É uma iniciativa educacional e social, tendo impacto em ambitos como saúde, cidadania e inclusão informacional, que por sua vez estimula a dissseminação de dados embasados em evidências científicas. 
        Criamos um ambiente de interação onde os usuarios podem compartilhar suas experiências e tirar dúvidas com profissionais da saúde, esse espaço possui um sistema que filtra palavrass ofensivas, ajudando assim a manter o conforto e o respeito entre os utilizadores da plataforma.</p>
        <div class="imagem-titulo">
          <h2>O poder da natureza para o bem-estar humano</h2>
        </div>
        <div class="imagem-com-botao">
        <img src="../static/imagens/imagen1.jpg" alt="Hêmpora">
      <a href='/cadastro' class="botao">Cadastre-se</a>
        </div>
    </section>
  </main>

  <footer>
    <p>© 2025 Hêmpora — Projeto Educacional Do Curso Técnico Desenvolvimento de Sistemas</p>
  </footer>
</body>
</html>