<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hêmpora - Sobre</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
    <div class="logo">
      <h1>Hêmpora</h1>
      <p class="subtitulo">Plataforma de Suporte e Aprendizagem sobre o Uso Medicinal do Cânhamo</p>
    </div>

    <nav>
      <ul class="menu">
        <li><a href='/cadastro'>Cadastro de Usuário</a></li>
        <li><a href='/chat'>Chat</a></li>
        <li><a href='/feedback'>Feedback</a></li>
        <li><a href='/index' class="ativo">Início</a></li>
        <li><a href='/material_didatico'>Material Didático</a></li>
        <li><a href='/processo_legal'>Processo legal </a></li>
        <li><a href='/sobre_o_projeto'>Sobre o Projeto</a></li>
      </ul>
    </nav>

  </header>

  <main>
    <section class="apresentacao">
      <h2>Sobre o Projeto Hêmpora</h2>
      <p>O <strong>Hêmpora</strong> foi desenvolvido com o objetivo de informar e concientizar, os usuarios do nosso site a repeito do uso medicinal da cannabis com foco no canhâmo.</p>
      <p>Nosso objetivo é informar com transparência, combater preconceitos e disponibilizar recursos educativos confiáveis através de pesquisas comprovadas e de acordo com a legislação brasileira.</p>
    </section>

    <section class="objetivos">
      <h2>Nosso objetivo</h2>
      <ul>
        <li>disponibilizar informações baseadas em pesquisas científicas.</li>
        <li>insentivar a troca de experiências entre os usuários e profissionais.</li>
        <li>fornecer um espaço seguro e respeitoso para melhorar as condições de aprendizado.</li>
        <li>Compactuar com as políticas públicas relacionadas à saúde e educação.</li>
      </ul>
    </section>

    <section class="chamada">
      <h2>Participe</h2>
      <p>Colabore com nossa rede colaborativa. Acesse nosso cadastro e participe do chat e dos materiais didáticos exclusivos.</p>
      <a href="cadastro.html" class="botao">Cadastre-se Agora</a>
    </section>
  </main>

  <footer>
    <p>© 2025 Hêmpora — Projeto Educacional | Desenvolvido por Estudantes do colégio CEEP Maringá. Curso Desenvolvimento de Sistemas do primeiro ano C.</p>
  </footer>
</body>
</html>