<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hêmpora - processo legal</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
    <div class="logo">
      <h1>Normas da cannabis medicinal no Brasil</h1>
      <p class="subtitulo">A respeito de como ocorre atualmente o uso medicinal do cânhamo e da cannabis em geral de acordo com as leis estatais do país.</p>
    </div>
    <nav>
      <ul class="menu">
        <li><a href='/cadastro'>Cadastro de usuario</a></li>
        <li><a href='/chat'>Chat</a></li>
        <li><a href='/feedback'>Feedback</a></li>
        <li><a href='/' class="ativo">Início</a></li>
        <li><a href='/material_didatico'>Material Didático</a></li>
        <li><a href='/processo_legal'>Processo legal </a></li>
        <li><a href='/sobre_o_projeto'>Sobre o Projeto</a></li>

      </ul>
    </nav>
  </header>

  <main>
    <section class="apresentaçao">
      <h2>Regulamentos</h2>
      <p>A Anvisa é a principal responsável por regular e monitorar tudo que diz respeito ao uso de produtos á base de cannabis para a saúde, sendo assim um orgão publico ecenssial para a regulamentação do comércio farmáceutico.</p>
      <p>Temos como finalidade minimizar preconceitos e disponibilizar recursos educativos confiáveis através de pesquisas comprovadas cientificamente e de acordo com as legislações do Brasil.</p>
    </section>

    <section class="objetivos">
      <h2>Legislação</h2>
      <ul>
        <li>Prescrição médica: O acesso é restrito a pacientes com prescrição de um profissional da saúde para tratamentos específicos.</li>
        <li>O óleo medicinal é vendido em industrias farmáceuticas desde 2019 mediante apenas com prescrição médica.</li>
        <li>Lei de Drogas (Lei nº 11.343/2006): A lei não criminaliza o usuário, mas distingue entre "usuário" e "traficante". A posse de pequena quantidade para consumo pessoal é considerada uma infração, com penas alternativas como advertência, prestação de serviços comunitários ou comparecimento a um curso educativo.</li>
        <li>Debates em Foco: Eventos como os realizados na UEM refletem a pressão da sociedade por políticas de saúde baseadas em ciência, discussões sobre a liberdade individual e a necessidade do Estado rever sua postura na regulamentação, especialmente para o acesso medicinal da população.</li>
      </ul>
    </section>

    <section class="chamada">
      <h2>Quer saber mais?</h2>
      <p>Cadastre-se e fique por dentro!</p>
      <a href="/cadastro" class="botao">Cadastre-se Agora</a>
    </section>
  </main>

  <footer>
    <p>© 2025 Hêmpora — Projeto Educacional | Desenvolvido por Estudantes do colégio CEEP Maringá. Curso Desenvolvimento de Sistemas do primeiro ano C.</p>
  </footer>
</body>
</html>