<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hêmpora - Sobre</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
    <div class="logo">
      <h1>Hêmpora</h1>
      <p class="subtitulo">Plataforma de Suporte e Aprendizagem sobre o Uso Medicinal do Cânhamo</p>
    </div>
    
    <nav>
      <ul class="menu">
        <li><a href='/cadastro'>Cadastro de Usuário</a></li>
        <li><a href='/chat'>Chat</a></li>
        <li><a href='/feedback'>Feedback</a></li>
        <li><a href='/' class="ativo">Início</a></li>
        <li><a href='/material_didatico'>Material Didático</a></li>
        <li><a href='/processo_legal'>Processo legal </a></li>
        <li><a href='/sobre_o_projeto'>Sobre o Projeto</a></li>

      </ul>
    </nav>
  </header>

  <main>
    <section class="apresentacao">
      <h2>Sobre o Projeto Hêmpora</h2>
      <p>O <strong>Hêmpora</strong> foi desenvolvido com o objetivo de informar e conscientizar, os usuarios do nosso site a repeito do uso medicinal da cannabis com base principal no cânhamo.</p>
      <p>Nosso propósito é informar com transparência, diminuir preconceitos e disponibilizar recursos educativos confiáveis através de pesquisas comprovadas e de acordo com a legislação brasileira.</p>
    </section>

    <section class="objetivos">
      <h2>Nosso objetivo</h2>
      <ul>
        <li>proporcionar acesso a informações baseadas em pesquisas científicas.</li>
        <li>estimular a transação de experiências entre os usuários do site e profissionais graduados.</li>
        <li>disponibilizar um ambiente seguro e confortavel para otimizar as condições de aprendizado para todos os utilizadores da plataforma.</li>
        <li>Colaborar com as políticas públicas relacionadas à saúde, bem-estar e educação do Brasil.</li>
      </ul>
    </section>
  <section>
    <h2>Grupo Hêmpora</h2>
      <img src="static/imagens/grupo.jpg" alt="Grupo Hempora" height="1000" width="800">
  </main>
  </section>

  <footer>
    <p>© 2025 Hêmpora — Projeto Educacional | Desenvolvido por Estudantes do colégio CEEP Maringá. Curso Desenvolvimento de Sistemas do primeiro ano C.</p>
  </footer>
</body>
</html>